<div class="container mt-4">
  <div class="row mb-2 justify-content-end">
    <!-- Input for Script Symbol -->
    <div class="col-md-2 d-flex ">
      <div class="dropdown">
        <button class="btn bg-secondary text-white dropdown-toggle" type="button" id="scriptDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          {{ getDisplayName(selectedScript)  || 'Select Script' }}
        </button>
        <ul class="dropdown-menu overflow-auto bg-secondary text-white" aria-labelledby="scriptDropdown">
          <li *ngFor="let script of scriptList">
            <span class="dropdown-item bg-secondary text-white" type="button" (click)="setScriptType(script)">
              {{ getDisplayName(script) }}
            </span>
          </li>
        </ul>
      </div>
    </div>
    <!-- Dropdown for Expiry Dates -->
    <div class="col-md-2 d-flex">
      <div class="dropdown">
        <button class="btn bg-secondary text-white dropdown-toggle" type="button" id="expiryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          {{ selectedExpiry || 'Select Expiry' }}
        </button>
        <ul class="dropdown-menu overflow-auto bg-secondary text-white" aria-labelledby="expiryDropdown">
          <li *ngFor="let expiry of expiryDates">
            <button class="dropdown-item bg-secondary text-white" type="button" (click)="setExpiryDate(expiry)">
              {{ expiry }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center border border-dark rounded-1" style="background-color: #3e93b8 !important;">
    <div *ngIf="presentIndexData?.length">
      <span *ngFor="let data of presentIndexData" >
      <h2>Option Chain Data</h2>
      <span>{{ data.iv }}</span>
    </span>
  </div>
  </div>

  <div class="table-responsive table-container border border-dark rounded-1">
    <table class="table  table-hover">
      <thead class="sticky-lg-top">
        <tr>
          <th colspan="5" class="text-center bg-primary text-white">CALLS</th>
          <th rowspan="2"  class="text-center bg-secondary">Strike Price</th>
          <th colspan="5" class="text-center bg-primary text-white">PUTS</th>
        </tr>
        <tr>
          <th class="text-center bg-info col">Volume</th>
          <th class="text-center bg-info col">OI</th>
          <th class="text-center bg-info col">OI Chg.(Chg%)</th>
          <th class="text-center bg-info col">LTP (Chg%)</th>
          <th class="text-center bg-info col">LTP</th>
          <th class="text-center bg-info col">LTP</th>
          <th class="text-center bg-info col">LTP (Chg%)</th>
          <th class="text-center bg-info col">OI</th>
          <th class="text-center bg-info col">OI Chg.(Chg%)</th>
          <th class="text-center bg-info col">Volume</th>
        </tr>
      </thead>
      <tbody class="text-center border border-dark table-bordered table-body">
        <tr *ngFor="let option of optionsData">
          <td
          [ngClass]="{
            'bg-secondary  ': (option.strikeprice | stringToNumber) < ivValue, 'bg-light ': (option.strikeprice | stringToNumber) > ivValue,
            'text-success': !option.CallVolume.includes('-'), 'text-danger': option.CallVolume.includes('-')}"
          >{{ option.CallVolume }}</td>
          <td
          [ngClass]="{
            'bg-secondary ': (option.strikeprice | stringToNumber) < ivValue, 'bg-light ': (option.strikeprice | stringToNumber) > ivValue,
            'text-success': !option.CallOI.includes('-'), 'text-danger': option.CallOI.includes('-')}"
          >{{ option.CallOI }}</td>
          <td [ngClass]="{
            'bg-secondary ': (option.strikeprice | stringToNumber) < ivValue, 'bg-light ': (option.strikeprice | stringToNumber) > ivValue,
            'text-success': !option.CallOIPerChg.includes('-'), 'text-danger': option.CallOIPerChg.includes('-')}">
            {{ option.CallOIPerChg }}
          </td>
         
          <td [ngClass]="{
            'bg-secondary ': (option.strikeprice | stringToNumber) < ivValue, ' bg-light': (option.strikeprice | stringToNumber) > ivValue,
            'text-success': !option.CallPricePerChange.includes('-'), 'text-danger': option.CallPricePerChange.includes('-')}">
            {{ option.CallPricePerChange }}
          </td>
          <td
          [ngClass]="{
            'bg-secondary ': (option.strikeprice | stringToNumber) < ivValue, 'bg-light ': (option.strikeprice | stringToNumber) > ivValue,
            'text-success': !option.CallLTP.includes('-'), 'text-danger': option.CallLTP.includes('-')}"
          >{{ option.CallLTP }}</td>
          <td
          [ngClass]="{
            'bg-secondary ': (option.strikeprice | stringToNumber) < ivValue, ' bg-light': (option.strikeprice | stringToNumber) > ivValue,}"
          >{{ option.strikeprice }}</td>
          <td [ngClass]="{
            'bg-secondary ': (option.strikeprice | stringToNumber) > ivValue, ' bg-secondary': (option.strikeprice | stringToNumber) > ivValue,
            'text-success': !option.PutLTP.includes('-'), 'text-danger': option.PutLTP.includes('-')}">
            {{ option.PutLTP }}
          </td>
          <td [ngClass]="{
            'bg-secondary ': (option.strikeprice | stringToNumber) > ivValue, ' bg-secondary': (option.strikeprice | stringToNumber) > ivValue,
            'text-success': !option.PutPriceperChange.includes('-'), 'text-danger': option.PutPriceperChange.includes('-')}">
            {{ option.PutPriceperChange }}
          </td>
          <td
          [ngClass]="{
            'bg-secondary  ': (option.strikeprice | stringToNumber) > ivValue, ' bg-secondary': (option.strikeprice | stringToNumber) > ivValue,
            'text-success': !option.PutOI.includes('-'), 'text-danger': option.PutOI.includes('-')}"
          >{{ option.PutOI }}</td>
          <td [ngClass]="{
            'bg-secondary  ': (option.strikeprice | stringToNumber) > ivValue, ' bg-secondary': (option.strikeprice | stringToNumber) > ivValue,
            'text-success': !option.PutOIPerChg.includes('-'), 'text-danger': option.PutOIPerChg.includes('-')}">
            {{ option.PutOIPerChg }}
          </td>
          <td
          [ngClass]="{
            'bg-secondary ': (option.strikeprice | stringToNumber) > ivValue, ' bg-secondary': (option.strikeprice | stringToNumber) > ivValue,
            'text-success': !option.PutVolume.includes('-'), 'text-danger': option.PutVolume.includes('-')}"
          >{{ option.PutVolume }}</td>
        </tr>
      </tbody>
      
    </table>
  </div>
</div>
